*border{
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
}
#container{
    height: 600px;
    width: 500px;
    border: 5px;
    border-radius: 25px solid red;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: space-evenly;


}


    
